{% extends "base.html" %}

{% block content %}
<div class="flex-grow mt-12 mb-4 container">

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-8">
        <h1 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">Plotagem Gráfica</h1>
        <div class="flex justify-between mb-6">
            <div class="w-full">
                <label for="tabela_regra" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Tabela e Regra:</label>
                <select id="tabela_regra" name="tabela_regra" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <option value="">Selecione uma tabela e regra</option>
<!--                Pega dinâmicamente os valores e plota-->
                    {% for rule in rulelist %}
                        <option value="{{ rule[0] }}|{{ rule[1] }}|{{ rule[2] }}|{{ rule[3] }}">{{ rule[1] }} - {{ rule[2] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Graph Container -->
        <div class="relative h-96">
            <canvas id="chart"></canvas>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Example of rendering a chart based on selected options
    const ctx = document.getElementById('chart').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'line', // You can change this to 'bar', 'pie', etc.
        data: {
            labels: ['January', 'February', 'March', 'April', 'May'],
            datasets: [{
                label: 'Example Dataset',
                data: [12, 19, 3, 5, 2],
                borderColor: 'rgba(75, 192, 192, 1)',
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderWidth: 1,
                pointBackgroundColor : function(context) {
                    const value1 = context.dataset.data[context.dataIndex];  // Get value from dataset 0
                    const value2 = context.chart.data.datasets[1].data[context.dataIndex];  // Get corresponding value from dataset 1

                    // Check if value1 is <= 50% of value2 and apply emphasis by changing color
                    return value1 >= 1.6 * value2 ? 'rgba(255, 99, 132, 1)' : 'rgba(75, 192, 192, 1)';
                },

                pointRadius : function(context) {
                    const value1 = context.dataset.data[context.dataIndex];  // Get value from dataset 0
                    const value2 = context.chart.data.datasets[1].data[context.dataIndex];  // Get corresponding value from dataset 1

                    // Check if value1 is <= 50% of value2 and apply emphasis by changing color
                    return value1 >= 1.6 * value2 ? 8 : 2;
                }
            },{
                label: 'Example Dataset 2',
                data: [12, 19, 3, 5, 2],
                borderColor: 'rgba(153, 102, 255, 1)',
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                borderWidth: 1,
                fill: true
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    });


    document.getElementById('tabela_regra').addEventListener('change', updateGraph);

    function updateGraph() {
        const tabelaregra = document.getElementById('tabela_regra').value;
        console.log(`Tabela Selecionada: ${tabelaregra}`);
        if (tabelaregra) {

            const [ruleId, tabela, regra, query] = tabelaregra.split('|');
            console.log(`Tabela: ${tabela}, Regra: ${regra}, Query: ${query}`);

            fectchDataForTable(tabela, query).then(newData => {
                chart.data.labels = newData.labels;
                chart.data.datasets[0].data = newData.values;
                // Adptaria dinamicamente
                chart.data.datasets[0].label = 'Holandesa';
                chart.data.datasets[1].data = newData.values2;
                // Adptaria dinamicamente
                chart.data.datasets[1].label = 'Jersey';
                chart.data.title = regra;
                chart.update();
            }).catch(error => {
                console.error("Error fetching data:", error);
            });
        }
    }
    function fectchDataForTable(tabela, query) {
        return new Promise((resolve, reject) => {
            if (tabela && query) {
                setTimeout(() => {

                    // Preencher com dados de Mock
                    resolve({
                        labels: ["2023_1", "2023_2", "2023_3", "2023_4", "2023_5", "2023_6", "2023_7", "2023_8", "2023_9", "2023_10", "2023_11", "2023_12", "2023_13", "2023_14", "2023_15", "2023_16", "2023_17", "2023_18", "2023_19", "2023_20", "2023_21", "2023_22", "2023_23", "2023_24", "2023_25", "2023_26", "2023_27", "2023_28", "2023_29", "2023_30", "2023_31", "2023_32", "2023_33", "2023_34", "2023_35", "2023_36", "2023_37", "2023_38", "2023_39", "2023_40", "2023_41", "2023_42", "2023_43", "2023_44"],
                        "values": [20.00, 15.00, 25.00, 28.00, 30.00, 36.00, 40.00, 42.00, 10.00, 44.00, 45.00, 46.00, 45.00, 44.50, 43.50, 43.00, 42.00, 41.00, 40.00, 39.00, 38.00, 37.00, 36.00, 34.90, 33.80, 32.70, 31.60, 30.50, 29.40, 28.30, 27.20, 26.10, 25.00, 23.90, 22.80, 21.70, 20.60, 19.50, 18.40, 17.30, 16.20, 15.10, 14.00, 12.90],
                        "values2": [12.80, 9.60, 16.00, 17.92, 19.20, 23.04, 25.60, 26.88, 6.40, 28.16, 28.80, 29.44, 28.80, 28.48, 27.84, 27.52, 26.88, 26.24, 25.60, 24.96, 24.32, 23.68, 23.04, 22.34, 21.63, 20.93, 20.22, 18.72, 17.22, 15.72, 14.22, 12.72, 11.22, 9.72, 8.22, 6.72, 5.22, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00 ]
                    });
                }, 1000); // Simulating network delay
            } else {
                reject('Tabela ou query inválida');
            }
        });
    }
</script>
{% endblock %}
