{% extends "base.html" %}

{% block content %}
<div class="flex-grow mt-12 mb-4 container">

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-8">

        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="caption-top p-1 ml-3 mt-2 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                Regras Violadas por Tb_Lactacao
                <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Veja aqui as regras que violadas na tabela tb_lactacao.</p>
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Tabela em que se aplica
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Regra Violada
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for violation in violationlist_full %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4">{{ violation[0] }}</th>
                    <td class="px-6 py-4">{{ violation[1] }}</td>
                    <td class="px-6 py-4">{{ violation[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <h1 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">Plotagem Gráfica</h1>
        <div class="flex justify-between mb-6">
            <div class="w-full">
                <label for="tabela_violacao" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Tabela e Regra:</label>
                <select id="tabela_violacao" name="tabela_violacao" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <option value="">Selecione uma tabela e veja suas violações </option>
                    {% for nome in nomestabelas %}
                        <option value="{{ nome }} |{{ item }}|{{ regraviolada }}|{{ violationlist }}">{{ nome }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Graph Container -->
        <div class="relative h-96">
            <canvas id="chart"></canvas>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Example of rendering a chart based on selected options
    const ctx = document.getElementById('chart').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'bar', // You can change this to 'bar', 'pie', etc.
        data: {
            labels: ["2023_1", "2023_2", "2023_3", "2023_4", "2023_5", "2023_6", "2023_7", "2023_8", "2023_9", "2023_10", "2023_11", "2023_12", "2023_13", "2023_14", "2023_15", "2023_16", "2023_17", "2023_18", "2023_19", "2023_20", "2023_21", "2023_22", "2023_23", "2023_24", "2023_25", "2023_26", "2023_27", "2023_28", "2023_29", "2023_30", "2023_31", "2023_32", "2023_33", "2023_34", "2023_35", "2023_36", "2023_37", "2023_38", "2023_39", "2023_40", "2023_41", "2023_42", "2023_43", "2023_44"],
            datasets: [{
                label: 'Regra 1',
                data: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44],
                backgroundColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
            },{
                label: 'Regra 2',
                data: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44],
                borderColor: 'rgba(153, 102, 255, 1)',
                backgroundColor: 'rgba(255, 99, 132, 1)',
            },{
                label: 'Regra 3',
                data: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44],
                borderColor: 'rgba(153, 102, 255, 1)',
                backgroundColor: 'rgba(153, 102, 255, 1)',
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                  x: {
                    stacked: true,  // Enables stacking on the X-axis
                  },
                  y: {
                    stacked: true,  // Enables stacking on the Y-axis
                    beginAtZero: true,  // Ensure the Y-axis starts at 0
                  }
            }
        }
    });


    document.getElementById('tabela_violacao').addEventListener('change', updateGraph);

    function updateGraph() {
        const tabelaviolacao = document.getElementById('tabela_violacao').value;
        console.log(`Tabela Selecionada: ${tabelaviolacao}`);
        if (tabelaviolacao) {
            const [nome, item, regraviolada, violationlist] = tabelaviolacao.split('|');

            console.log(`Tabela: ${nome}`, `Regras Violadas: ${violationlist}`, `Item: ${item}`,`Regra: ${regraviolada}`);

            const labels = item;
            chart.data.labels = labels;

            chart.data.title = nome;
            chart.update();
        }
    }
</script>
{% endblock %}
