{%  extends "base.html" %}

{% block content %}
    <h1>Dados Existentes</h1>
    <ul>
        {% for it in databaselist %}
            <li {% if it == 30 %}style="color: red"{% endif %}>{{ it }}</li>
        {% endfor %}
    </ul>
    <h1>Adicionar um novo Database</h1>
    <form method="POST" action="{{ url_for('upload_database') }}" enctype="multipart/form-data">
        <input type="file" name="file" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/csv text/plain" required>
        <input type="text" name="df_name" placeholder="Tabela Bovina">
        <input type="submit" value="Upload File">
    </form>
{% endblock %}